[Desktop Entry]
Type=Application
Name=VeloxOS Welcome
Comment=Konfiguriere dein VeloxOS nach der Installation
Exec=/usr/bin/veloxos-welcome
Icon=distributor-logo-veloxos
Terminal=false
Categories=System;Settings;
X-GNOME-Autostart-enabled=true
