menuentry "Boot VeloxOS (Live)" --class veloxos {
    set gfxpayload=keep
    
    # Suche nach dem Kernel
    search --no-floppy --file --set=root /boot/vmlinuz-x86_64
    
    linux /boot/vmlinuz-x86_64 \
        misobasedir=VeloxOS-KDE \
        misolabel=VELOXOS_KDEM_10 \
        driver=free quiet splash \
        $kopts

    # Initrd Namen
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-x86_64.img
}
