menuentry "Boot VeloxOS (Live)" --class veloxos {
    set gfxpayload=keep
    
    # Suche nach dem echten Bore-Kernel
    search --no-floppy --file --set=root /boot/vmlinuz-linux-cachyos-bore
    
    linux /boot/vmlinuz-linux-cachyos-bore \
        misobasedir=manjaro \
        misolabel=VELOXOS_KDEM_10 \
        driver=free quiet splash \
        $kopts

    # Lade die korrekten Microcodes und das Bore-Image
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-linux-cachyos-bore.img
}
