[Desktop Entry]
Type=Application
Version=1.0
Name=Install VeloxOS
GenericName=Live Installer
Comment=Install VeloxOS to disk
Comment[de]=VeloxOS installieren
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
